<p id="notice"><%= notice %></p>

<h1>Craigslist</h1>

<table>
  <thead>
    <tr>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= form_for @post, url: search_by_key_path do |f|  %>
  <%= f.label(:id, "Find and Update:") %>
  <%= f.text_field(:id) %>
  <%= f.submit ("Update Posts!") %>
<% end %>

<br>

<!-- link_to LINK TEXT, METHOD_MODEL_path-->
<%= link_to 'New Category', new_category_path %>
<%= link_to 'New Post', new_post_path %>

<!-- -->